*~
*.bak
*.egg-info/
*.pot
*.pyc
*.pyo
*.rpm
*.sqlite
*.swo
*.swp
*.mo
*.tar
*.tar.gz
*.zip
*.img
*.qcow2
*.ova
*.vmdk
*.exe
*.iml
*.versionsBackup
.cache.bundle/
.clover/
.coverage
.classpath
.idea
.gradle/
.project
.pydevproject
.live-archive
.repository
.settings/
.metadata/
.tox/
.venv/
.virtualenv/
build/
coverage.xml
covhtml/
deleteme
dependency-reduced-pom.xml
out/
target/
dist/
MANIFEST
